<th:block xmlns:th="http://www.thymeleaf.org">

    <link th:href="@{/webjars/morrisjs/0.5.1/morris.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/webjars/toastr/2.1.3/toastr.min.css}" rel="stylesheet" type="text/css" />

    <link th:href="@{/webjars/select2/4.0.3/dist/css/select2.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/webjars/select2-bootstrap-theme/0.1.0-beta.9/dist/select2-bootstrap.min.css}" rel="stylesheet"
        type="text/css" />
    <link th:href="@{/webjars/bootstrap-daterangepicker/2.1.24/css/bootstrap-daterangepicker.css}" rel="stylesheet"
        type="text/css" />
    <link th:href="@{/webjars/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css}" rel="stylesheet"
        type="text/css" />

    <link th:href="@{/static/plugins/DataTables/1.10.13/media/css/dataTables.bootstrap.min.css}" rel="stylesheet"
        type="text/css" />
    <link th:href="@{/static/plugins/DataTables/1.10.13/extensions/Select/css/select.bootstrap.min.css}"
        rel="stylesheet" type="text/css" />
    <link th:href="@{/static/plugins/DataTables/1.10.13/extensions/Buttons/css/buttons.bootstrap.min.css}"
        rel="stylesheet" type="text/css" />

    <link th:href="@{/webjars/sweetalert2/6.4.2/dist/sweetalert2.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/webjars/jstree-bootstrap-theme/1.0.1/dist/themes/proton/style.min.css}" rel="stylesheet"
        type="text/css" />

</th:block>