<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.heweiming.project.novelty.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="cn.heweiming.project.novelty.model.SysUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="sys_type" jdbcType="VARCHAR" property="sysType" />
    <result column="sys_state" jdbcType="VARCHAR" property="sysState" />
    <result column="activity" jdbcType="BIT" property="activity" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creater_id" jdbcType="INTEGER" property="createrId" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modifier_id" jdbcType="INTEGER" property="modifierId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sys_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.heweiming.project.novelty.model.SysUser">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_user (user_no, real_name, username, 
      password, mobile, email, 
      sys_type, sys_state, activity, 
      create_time, creater_id, modify_time, 
      modifier_id, remark)
    values (#{userNo,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{sysType,jdbcType=VARCHAR}, #{sysState,jdbcType=VARCHAR}, #{activity,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createrId,jdbcType=INTEGER}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifierId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.heweiming.project.novelty.model.SysUser">
    update t_sys_user
    set user_no = #{userNo,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      sys_type = #{sysType,jdbcType=VARCHAR},
      sys_state = #{sysState,jdbcType=VARCHAR},
      activity = #{activity,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creater_id = #{createrId,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_no, real_name, username, password, mobile, email, sys_type, sys_state, 
    activity, create_time, creater_id, modify_time, modifier_id, remark
    from t_sys_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_no, real_name, username, password, mobile, email, sys_type, sys_state, 
    activity, create_time, creater_id, modify_time, modifier_id, remark
    from t_sys_user
  </select>
</mapper>