<th:block xmlns:th="http://www.thymeleaf.org">
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
		type="text/css" />
	<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/static/plugins/simple-line-icons/2.4.1/css/simple-line-icons.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/webjars/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css}" rel="stylesheet"
		type="text/css" />
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<link th:href="@{/webjars/morrisjs/0.5.1/morris.css}" rel="stylesheet" type="text/css" />
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN THEME GLOBAL STYLES -->
	<link th:href="@{/static/global/css/components-rounded.min.css}" rel="stylesheet" id="style_components" type="text/css" />
	<link th:href="@{/static/global/css/plugins.min.css}" rel="stylesheet" type="text/css" />
	<!-- END THEME GLOBAL STYLES -->
	<!-- BEGIN THEME LAYOUT STYLES -->
	<link th:href="@{/static/global/css/layout.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/static/global/css/themes/blue.min.css}" rel="stylesheet" type="text/css" id="style_color" />
	<!-- END THEME LAYOUT STYLES -->
</th:block>