<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,links)">
<title th:replace="${title}">The awesome application</title>
<!-- Common styles and scripts -->
<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/static/plugins/simple-line-icons/2.4.1/css/simple-line-icons.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/webjars/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css}" rel="stylesheet"
	type="text/css" />
<script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}" type="text/javascript"></script>
<!--/* Per-page placeholder for additional links */-->
<th:block th:replace="${links}" />
</head>
<body>

</body>
</html>


