<th:block xmlns:th="http://www.thymeleaf.org">
	<!-- BEGIN THEME LAYOUT SCRIPTS -->
	<script th:src="@{/static/layouts/admin/scripts/layout.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/layouts/admin/scripts/demo.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/global/scripts/quick-sidebar.min.js}" type="text/javascript"></script>
	<!-- END THEME LAYOUT SCRIPTS -->


	<!-- 	<script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}" type="text/javascript"></script> -->
	<script th:src="@{/webjars/fullcalendar/3.1.0/dist/fullcalendar.min.js}"
		src="webjars/fullcalendar/3.1.0/dist/fullcalendar.min.js" type="text/javascript"></script>
	<script th:src="@{/webjars/fullcalendar/3.1.0/dist/locale/zh-cn.js}"
		src="webjars/fullcalendar/3.1.0/dist/locale/zh-cn.js" type="text/javascript"></script>

	<script th:src="@{/static/layouts/admin/admin-script.js}" type="text/javascript"></script>

</th:block>